{% load static %}
<html>
<head>
  <link href="('{{ STATIC_URL }}IMAGE/background.jpg')">
  <title>Funeral Services</title>
  <body>
<style>
body {  
  background-color: black;
  background-image: url( "{% static 'IMAGE/background.jpg' %}");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.hide {
  display: none;
}
    
.hover:hover + .hide {
  display: block;
  color: white;
}
hr {
  border: 3px solid white;
  border-radius: 3px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: white;
}
.active {
  background-color: #04AA6D;
  }
a:hover, a:active {
  background-color: red;
}
a:link, a:visited {
  background-color: #f44336;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 
.registerbtn:hover {
  background-color: white;
  opacity: 1;
}
</style>
</body>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body style="background-image: url(('{{ STATIC_URL }}IMAGE/background.jpg'))';">
<center>
    <div class="container">
    <h1 style="color:white">Welcome to Funiverse Plan and Services</h1>
    <h3 style="color:white">Direct Cremation</h3>
      <script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  var s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =
  h + ":" + m + ":" + s;
  var t = setTimeout(startTime, 1000);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i}; 
  return i;
}
</script>
</head>

<body onload="startTime()">

<div id="txt" style="color:white"  height: 100px;></div>
<hr>
</center>
<ul>
  <li style="float:center"><a href="second.html" type="submit" class="registerbtn">Home</a></li> 
  <li style="float:center"><a href="third.html" type="submit" class="registerbtn">Traditional Funeral Services</a></li>
  <li style="float:center"><a href="fourth.html" type="submit" class="registerbtn">Direct Cremation</a></li>
  <li style="float:center"><a href="fifth.html" type="submit" class="registerbtn">Send Flowers</a></li>
  <li style="float:center"><a href="seventh.html" type="submit" class="registerbtn">Other services</a></li>
</ul>
<!-- <main>
<p style="color:white"><b>Staff Service</b></p>
<div class="hover" style="color:white" >Hover here</div>
<div class="hide"><i>This service serves as to pick up the body.</i></div>
<label for="Quantity" style="color:white">Number of staff:</label>
<input type="number" id="Quantity" name="Quantity">

<label for="Price" style="color:white">Price</label>
<input type="number" id="Price" name="Price" placeholder="450"></br></br>

<button onclick="multiply()">Show result</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<label for="result" style="color:white">Subtotal</label>
<input type="number" id="result" name="result"/>
</main>
<script>
function multiply(){
    num1 = document.getElementById("Quantity").value;
    num2 = document.getElementById("Price").value;
    result = num1 * num2;
    document.getElementById("result").value = result;
}
</script>
</br> -->
<p style="color:white"><b>Available Urns</b></p>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/individual.jpeg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>Individual Cremation Urns</b></div>
</div>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/companion.jpg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>Companion Cremation Urns</b></div>
</div>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/keepsake.jpg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>Keepsake Cremation Urns</b></div>
</div>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/3D.jpg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>3D Artisan Cremation Urns</b></div>
</div>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/child.jpg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>Child and Infant Cremation Urns</b></div>
</div>
<div class="gallery">
  <p target="_blank">
    <img src="{% static 'IMAGE/pet.jpg' %}" alt="My image" style="width:180;height:150px;">
  </p>
  <div class="desc" style="color:#e44e4e"><b>The Pet Cremation Urns</b></div>
</div>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br>
 <p style="color:white">Product:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name='product' id='product' required>
      <option value="Individual Cremation Urns" id="Urns1">Individual Cremation Urns</option>
      <option value="Companion Cremation Urns" id="Urns2">Companion Cremation Urns</option>
      <option value="Keepsake Cremation Urns" id="Urns3">Keepsake Cremation Urns</option>
      <option value="3D Artisan Portrait Cremation Urns" id="Urns4">3D Artisan Portrait Cremation Urns</option>
      <option value="Child and Infant Cremation Urns" id="Urns5">Child and Infant Cremation Urns</option>
      <option value="Pet Cremation Urns" id="Urns6">Pet Cremation Urns</option></p>
    </select></br>

    <br> Quantity:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <input type="text" name="quantity" id='quantity' required></br>
     <br> Size:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name='size' id='size'>
      <option value="Regular size" id="size1" name="cubic1">Regular size</option>
      <option value="15 cubic inches" id="size2" name="cubic2">15 cubic inches</option>
      <option value="100 cubic inches" id="size3" name="cubic3">100 cubic inches</option>
      <option value="200 cubic inches" id="size4" name="cubic4">200 cubic inches</option>
      <option value="220 cubic inches" id="size5" name="cubic5">220 cubic inches</option>
      <option value="250 cubic inches" id="size6" name="cubic6">250 cubic inches</option>
      <option value="300 cubic inches" id="size7" name="cubic7">300 cubic inches</option>
    </select>
        <p style="color:white">Price:
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <span id="totalCost" style="color:black">></span></p>
<script>
var productEl = document.querySelector('#product');
var quantityEl = document.querySelector('#quantity');
var sizeEl = document.querySelector('#size');
var totalCostEl = document.querySelector('#totalCost');


productEl.addEventListener('change', calculateTotal);
quantityEl.addEventListener('change', calculateTotal);
sizeEl.addEventListener('change', calculateTotal);

var product_price = {};
product_price['Individual Cremation Urns'] = 15000;
product_price['Companion Cremation Urns'] = 20000;
product_price['Keepsake Cremation Urns'] = 13500;
product_price['3D Artisan Portrait Cremation Urns'] = 26500;
product_price['Child and Infant Cremation Urns'] = 10500;
product_price['Pet Cremation Urns'] = 8500;


var size_price = {};
size_price['Regular size'] = 1000;
size_price['15 cubic inches'] = 1500;
size_price['100 cubic inches'] = 2000;
size_price['150 cubic inches'] = 2500;
size_price['200 cubic inches'] = 3500;
size_price['250 cubic inches'] = 4000;
size_price['300 cubic inches'] = 4500;

function calculateTotal() {

  var unitCost = product_price[productEl.value];
  var additionalCost = size_price[sizeEl.value] || 0;
  var qty = quantityEl.value || 0;

  totalCostEl.textContent = `${(unitCost * qty) + additionalCost}`;
}
</script>
</div>
<center>
  <a href="sixth.html" type="submit" class="registerbtn" style="color:black">Proceed to payment center</a>
</center>
</form>
</body>
</html>