<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Funeral Services</title>
<style>
body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: #26262b;  
  background-image: url('file:///home/bynnns/Desktop/FUNERAL/wallpaper.jpg');"> 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
</head>
<body>
<center>
<form>
  <div class="container">
    <h1 style="color:white">Welcome to Funeral Services</h1>
    <h2 style="color:white">Please select your preferred service.</h2>
    <hr>
    <button type="submit" class="registerbtn">Traditional Funeral Services</button>
    <button type="submit" class="registerbtn">Direct Cremation</button>
    <button type="submit" class="registerbtn">Send Flowers</button>
    <button type="submit" class="registerbtn">Others</button>
  </div>
</form>
</center> 
</body>
</html>