<html>
<head>
  <title>Funeral Services</title>
  <body>
<style>
body { 
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: #26262b;  
}
</style>
</body>
</head>
<center>
<body>
    <h1 style="color:white">Welcome to Funeral Services</h1>
    <h2 style="color:white">Payment Center</h2>
    <hr>
<p style="color:white">Name:</br><input type="text" id="Name" name="Name" required/>
<p style="color:white">CVV:</br><input type="text" id="Name" name="Name" placeholder="XXXX" required/>
<p style="color:white">Card Number:</br><input type="text" id="Name" name="Name" placeholder="XXXX-XXXX-XXXX-XXXX" required/>
<p style="color:white">Expiration Date:</p>
<form>
  <label for="Month"></label>
  <select name="Month" id="Month">
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="November">November</option>
    <option value="December">December</option>
  </select>
  <label for="Year"></label>
  <select name="Year" id="Year">
    <option value="2021">2021</option>
    <option value="2022">2022</option>
    <option value="2023">2023</option>
    <option value="2024">2024</option>
    <option value="2025">2025</option>
  </select>
</form>
            <p style="color:white">Need Help: Contact Us @ 09150472988</p>
            <input Onclick="submitters()" type="button" name="export" id="export" value="Submit" />
        </form>
        </div>
</center>
</body>
</html>